.ColorFB3A5F{
  color: #FB3A5F;
}
.bgColorFB3A5F{
  background-color: #FB3A5F;
}
.bgColor32E7CA{
  background-color: #32E7CA;
}
.Color00DBFF {
  color: #00DBFF;
}
.bgColor00DBFF {
  background-color: #00DBFF;
}
.bgColorCDCDCD{
  background-color: #CDCDCD;
}
.ColorCDCDCD{
  color: #CDCDCD;
}
.bgColorC1F7EF{
  background-color: #C1F7EF;
}
.ColorC1F7EF{
  color: #C1F7EF;
}
.bgColorFFF1F0{
  background-color: #FFF1F0;
}
.ColorFFF1F0{
  color: #FFF1F0;
}
.bgColorD43939{
  background-color: #D43939;
}
.ColorD43939{
  color: #D43939;
}
.bgColor548DFF{
  background-color: #548DFF;
}
.Color548DFF{
  color: #548DFF;
}
.bgColor9DABB2{
  background-color: #9DABB2;
}
.Color9DABB2{
  color: #9DABB2;
}

.ColorF2CB51{
  color: #F2CB51;
}
.bgColorF2CB51{
  background-color: #F2CB51;
}
.ColorD9D9D8{
  color: #D9D9D8;
}

.bgColorD9D9D8{
  background-color: #D9D9D8;
}
.ColorWhite{
  color: #ffffff;
}
.bgColorWhite{
  background-color: #ffffff;

}
.ColorEEE{
  color: #eeeeee;
}
.bgColorEEE{
  background-color: #eeeeee;
}
.bgColorF9F308{
  background-color: #F9F308;
}
.bgColorECE{
  background-color: #ECE;
}

.bgColorF4{
  background-color: #F4F4F4;
}

